.wrapper{
    /* 公用的版心 居中 */
    width: 1226px;
    margin: 0 auto;
}
.top{
    background-color:#333333 ;
    height: 40px;
}
.header{
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    color: #b0b0b0;
    background-color:#333333 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    color: #b0b0b0;
}
.header a:hover{
    color: #fff;
}
.icon-cart::before{
    font-size: 20px;
}
.header ul{
    display: flex;
}

.header span{
    margin: 0 0.3em;
    color: #424242;
}

.header-app{
    position: relative;
}
.header-app .download{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -55px;
    width: 124px;
    height: 150px;
    height: 0;
    overflow: hidden;
    box-shadow: 0 1px 5px #aaa;
    text-align: center;
    line-height: 1;
    font-size: 14px;
    color: #333333;
    background-color: #fff;
    transition: all 0.3s;
}
.header-app .download img{
    width: 90px;
}

.header-app:hover .download{
    height: 150px;
}
.header-app .trangle{
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -8px;
    /* 绘制三角形时 宽和高都设置为0 由边框来完成 */
    width: 0;
    height: 0;
    /* 下三角形则取bottom  上三角取top  */
    border-bottom: 8px solid #fff;
    /* 左右的颜色设置为透明 */
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    display: none;

}
.header-app:hover .trangle{
    display: block;
}
.cart{
    position: relative;
    margin-left: 35px;
    height: 40px;
    background-color: #424242;
    transition: all 0.3s;
}
.cart:hover{
    background-color: #fff;
}
.cart:hover a{
    color: #ff6700;
}

.cart:hover span{
    color: #ff6700;
}
.cart span{
    color: #b0b0b0;
}
.cart .list{
    position: absolute;
    top: 40px;
    right: 0;
    width: 316px;
    /* 隐藏元素的高度设置为0  */
    /* 此方法比设置元素的display属性要好一点 因为display属性无法设置动画  */
    height: 0;
    text-align: center;
    line-height: 100px;
    color: #424242;
    font-size: 12px;
    background-color:#fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    /* 设置动画过渡  */
    transition: all 0.15s;
    /* 高度为0时  隐藏溢出的文字 */
    overflow: hidden;
    /* display: none; */
    z-index: 20;
}
.cart:hover .list{
    /* 当鼠标hover的时候 给它设置高度显示出来 */
    height: 100px;
    
}
.aside{
    position: fixed;
    right: 0;
    bottom: 80px;
}
.aside ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 82px;
    height: 450px;
}
.aside a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #f5f5f5;
    background-color: #fff;
    width: 82px;
    height: 90px;
    color: #757575;
}
.aside a:hover{
    color: #ff6700;
}

.aside ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* width: 82px;
    height: 90px; */
}

.icon-QRcode,.icon-icon-test,.icon-tool-hardware,.icon-service{
    font-size: 40px;
}
.aside li .icon-cart::before{
    font-size: 40px;
}
.aside .code{
    position: relative;
}
.aside .img{
    position: absolute;
    top: 0;
    left: -120px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    width: 110px;
    height: 0;
    overflow: hidden;
    transition: all 0.15s ease-out;
    
    z-index: 99;
}

.aside .img img{
    width: 100px;
    height: 100px;
}

.aside .img span{
    margin-top: 30px;
    color: #757575;
}
.aside .code:hover .img{
    height: 180px;
    border: 1px solid #f5f5f5;
    /* 占据两个li的高度 */
}

.nav{
    width: 100%;
    height: 100px;
    border-bottom:1px solid #b0b0b0;
}

.nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .wrapper .goods{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav li{
    padding: 0 10px;
    /* margin-left: -20px; */
}
.nav .logo{
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.nav .logo img{
    width: 56px;
}
.nav li a{
    color: #333333;
}
.nav .goods>li:hover>a{
    color: #ff6700;
}
.search{
    position: relative;
    width: 300px;
    height: 50px;
}
.search form{
    display: flex;
}
.search input{
    width: 245px;
    height: 50px;
    outline: none;
    border: 1px solid #e0e0e0;
    border-right: none;
    padding: 0 10px;
    transition: all 0.3s;
}
.search input:hover{
    border:1px solid #b0b0b0;
}
.search input:focus{
    border: 1px solid #ff6700;
}

.search input:hover+span{
    border:1px solid #b0b0b0;
}
.search input:focus+span{
    border: 1px solid #ff6700;
}

.search span{
    flex: 1;
    height: 50px;
    border: 1px solid #e0e0e0;
    text-align: center;
    line-height: 50px;
    transition: all 0.3s;
}
.search span:hover{
    background-color: #ff6700;
    border: 1px solid #ff6700
}
.icon-search::before{
    font-size: 30px;
}
.search-list{
    position: absolute;
    left: 0;
    top: 50px;
    width: 245px;
    /* height: 240px; */
    height: 0;
    overflow: hidden;
    /* border: 1px solid #ff6700; */
    transition: all 0.3s;
}
.search-list-show{
    height: 240px;
    border: 1px solid #ff6700;

}
.search-list ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.search-list li{
    width: 100%;
    height: 30px;
    padding: 0 15px;
    font-size: 12px;
    color: #757575;
}
.search-list li:hover{
    background-color: #f5f5f5;
}

.goods-list{
    position: absolute;
    left: 0;
    top: 100px;
    height: 229px;
    width: 100%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    padding: 55px 0;
    transition: all 0.3s;
    display: none;
}

.goods-list img{
    width: 170px;    
}
.goods-list .wrapper ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.goods-list li p{
    padding: 3px 0 3px 10px;
    text-align: center;
    font-size: 12px;

}
.goods-list li p:last-child{
    color: #ff6700;
    font-size: 12px;
}

.nav .goods li:hover .goods-list{
    display: block;
}
.all{
    height: 100px;
    line-height: 100px;
}
.slide{
    position: absolute;
    top: 140px;
    left: 150px;
   
    border: 1px solid #ff6700;
    height: 462px;
    width: 234px;
    /* overflow: hidden; */
    
    background-color: #fff;
    font-size: 14px;
    
    transition: all 0.15s;
    display: none;
}

.slide>ul>li{
    /* display: block; */
    width: 100%;
    height: 46px;
    line-height: 46px;
    transition: all 0.05s;
   
}
.slide>ul>li:hover{
    background-color: #ff6700;
}

.nav .goods .all:hover .slide{
    display: block;
}
.icon-arrow-right-bold::before{
    position: relative;
    left: 165px;
    color: #aaa;
}

